flows.json
[{"id":"7557ea55.280254","type":"ui_template","z":"3ee57aed.b68a16","group":"8d848ab1.a671e8","name":"Two dimension array table","order":2,"width":"12","height":"8","format":"<table id=\"table\" border=\"1\">\n <tr>\n <th>comments</th> \n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n <td ng-repeat=\"item in row\" >{{item}}</td>\n </tr>\n </tbody>\n</table>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1830,"y":1420,"wires":[[]]},{"id":"ad89e8ed.557f08","type":"mqtt in","z":"3ee57aed.b68a16","name":"Raspberry","topic":"test/sj","qos":"2","broker":"8233f8d5.efca08","x":320,"y":400,"wires":[["1c5a116e.8de6cf","6f01e351.1b990c"]]},{"id":"1c5a116e.8de6cf","type":"debug","z":"3ee57aed.b68a16","name":"rasp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":260,"wires":[]},{"id":"db1edcd5.bfdc9","type":"function","z":"3ee57aed.b68a16","name":"FN_data_formatting","func":"// msg1 = '{\"deviceId\": \"Raspberry\", '\n// msg1 = msg1 + '\"key\": \"yWV1lFUpCaBCs4Iecrpy5aqEpOEv2Ji7t0MxWR2AaJw=\", '  \n// msg1 = msg1 + '\"protocol\": \"mqtt\", '\n\n// msg1 = msg1 + '\"data\": { \"' + msg.topic + '\": \"' + msg.payload + '\"}}'\n// //msg1 = msg1 + '\"data\": ' + msg.payload + '}'\n\n// newMsg = { payload: msg1 };\n// return newMsg;\n\nmsg1= {};\nmsg1.deviceId = \"Raspberry\";\nmsg1.key = \"yWV1lFUpCaBCs4Iecrpy5aqEpOEv2Ji7t0MxWR2AaJw=\";\nmsg1.protocol1 = 'mqtt';\nmsg1.data = {};\nmsg1.data.topic = msg.topic;\nmsg1.data.payload = msg.payload;\n\ndata = JSON.stringify(msg1);\n\nnewMsg = { payload: data };\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1220,"y":120,"wires":[[]]},{"id":"6f01e351.1b990c","type":"function","z":"3ee57aed.b68a16","name":"FN_data_extract","func":"var data = JSON.parse(msg.payload);\n\nvar temp = data.temperature;\nvar humi = data.humidity;\nvar dist = data.distant;\n\ntemp = { payload: temp };\nhumi = { payload: humi };\ndist = { payload: dist };\n\nreturn [temp, humi, dist];","outputs":3,"noerr":0,"x":526,"y":474,"wires":[["6130d65.12bed28","73b9fc55.cf1cd4","b4ed688d.989bd8","3605539.2ee48ac"],["aabc3187.b31a4","73b9fc55.cf1cd4","eef6e253.55333","3605539.2ee48ac"],["b1a6472c.682c78","3605539.2ee48ac"]]},{"id":"6130d65.12bed28","type":"ui_gauge","z":"3ee57aed.b68a16","name":"Temperature Gauge","group":"7068c9a.3237b38","order":2,"width":"6","height":"7","gtype":"gage","title":"Temperature","label":"Celcius Degree","format":"{{value}}","min":"-10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":920,"y":400,"wires":[]},{"id":"aabc3187.b31a4","type":"ui_gauge","z":"3ee57aed.b68a16","name":"Humidity Level","group":"7068c9a.3237b38","order":3,"width":0,"height":0,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":907.45458984375,"y":469.8182373046875,"wires":[]},{"id":"4a1a008f.5160b","type":"file","z":"3ee57aed.b68a16","name":"Save Temp File","filename":"/data/tempsave.csv","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1000,"y":580,"wires":[[]]},{"id":"73b9fc55.cf1cd4","type":"join","z":"3ee57aed.b68a16","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":", ","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":770,"y":580,"wires":[["4a1a008f.5160b"]]},{"id":"b4ed688d.989bd8","type":"ui_chart","z":"3ee57aed.b68a16","name":"Temp History","group":"e73dd00f.0fa85","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1108,"y":432,"wires":[[],[]]},{"id":"eef6e253.55333","type":"ui_chart","z":"3ee57aed.b68a16","name":"Humi History","group":"e73dd00f.0fa85","order":2,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1104,"y":511,"wires":[[],[]]},{"id":"5192d017.c15d2","type":"ui_switch","z":"3ee57aed.b68a16","name":"meetingroom_occupation","label":"Is meeting room occupied?","tooltip":"","group":"7068c9a.3237b38","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":970,"y":680,"wires":[[]]},{"id":"76386d93.41c874","type":"ui_chart","z":"3ee57aed.b68a16","name":"History_Occupation","group":"e73dd00f.0fa85","order":3,"width":0,"height":0,"label":"Meeting Room Occupation","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1030,"y":780,"wires":[[],[]]},{"id":"b1a6472c.682c78","type":"function","z":"3ee57aed.b68a16","name":"FN_extract_availability","func":"var availability = 0;\n\nif (msg.payload <= 30) {\n    availability = 1;\n}\nmsg.payload = availability;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":680,"wires":[["5192d017.c15d2","76386d93.41c874"]]},{"id":"2edf7fd3.538d9","type":"file","z":"3ee57aed.b68a16","name":"storeData","filename":"/data/alldata.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1000,"y":120,"wires":[["db1edcd5.bfdc9"]]},{"id":"3605539.2ee48ac","type":"join","z":"3ee57aed.b68a16","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":630,"y":160,"wires":[["a5666f12.0d3fd"]]},{"id":"a5666f12.0d3fd","type":"csv","z":"3ee57aed.b68a16","name":"","sep":",","hdrin":false,"hdrout":false,"multi":"one","ret":"\\n","temp":"temperature,humidity,distance","skip":"0","x":800,"y":160,"wires":[["2edf7fd3.538d9","e4558fdb.05b35"]]},{"id":"ce1ab148.b004","type":"debug","z":"3ee57aed.b68a16","name":"sj","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1256.403522491455,"y":1297.8713397979736,"wires":[]},{"id":"95dff05d.900e","type":"file","z":"3ee57aed.b68a16","name":"SaveFile_SurveryResult","filename":"/data/comment.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1116.403522491455,"y":1397.8713397979736,"wires":[["224bd586.6533fa"]]},{"id":"224bd586.6533fa","type":"file in","z":"3ee57aed.b68a16","name":"ReadFile_SurveyResult","filename":"/data/comment.csv","format":"utf8","chunk":false,"sendError":false,"x":1366.9089698791504,"y":1461.7690238952637,"wires":[["28904b3e.dfd9f4"]]},{"id":"28904b3e.dfd9f4","type":"csv","z":"3ee57aed.b68a16","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":1580.745761871338,"y":1436.0648756027222,"wires":[["7557ea55.280254"]]},{"id":"bf686f6b.a880f","type":"ui_template","z":"3ee57aed.b68a16","group":"f088a1a3.a7e","name":"save button2","order":7,"width":"0","height":"0","format":"<md-button class = \"nr-dashboard-button\" ng-click=\"send({payload: msg.payload })\" type = \"button\"> \n   Click To Save\n<!--<svg width = \"450px\" height = \"30px\" version=\"1.1\" viewBox=\"0 0 800 200\"></svg>-->\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":736.4035224914551,"y":1297.8713397979736,"wires":[["ce1ab148.b004","95dff05d.900e","29b23ddb.9eefc2"]]},{"id":"bbc74258.c2947","type":"inject","z":"3ee57aed.b68a16","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":266.4035224914551,"y":1317.8713397979736,"wires":[["7f114cf7.fdb624"]]},{"id":"7f114cf7.fdb624","type":"ui_text_input","z":"3ee57aed.b68a16","name":"comment input","label":"Comment/Advice","tooltip":"","group":"f088a1a3.a7e","order":6,"width":"7","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":526.4035224914551,"y":1357.8713397979736,"wires":[["bf686f6b.a880f"]]},{"id":"29b23ddb.9eefc2","type":"change","z":"3ee57aed.b68a16","name":"Clear Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"null","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":816.4035224914551,"y":1437.8713397979736,"wires":[["7f114cf7.fdb624"]]},{"id":"2092b2ed.433e7e","type":"azureiothub","z":"3ee57aed.b68a16","name":"Azure IoT Hub","protocol":"mqtt","x":1400,"y":260,"wires":[[]]},{"id":"e4558fdb.05b35","type":"debug","z":"3ee57aed.b68a16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1100,"y":240,"wires":[]},{"id":"4b5f6fa7.0a836","type":"function","z":"3ee57aed.b68a16","name":"send_email","func":"var currentTime = new Date();\n\nmsg.topic =\"[\" + currentTime.getFullYear() + \"-\" + String(currentTime.getMonth() + 1) + \"-\" + currentTime.getDate() + \" \" + currentTime.getHours() + \":\" + currentTime.getMinutes() + \"] SurveyResult File Backup\";\n\nmsg.payload = \"Dear sir,<br><br>surveyResult file backup.<br><br>\" + msg.payload + \"<br><br>Kind regards,<br>Your xoxo\";\n\nmsg.attachments = [{\n    filename: 'surveyResult.csv',\n    path: '/data/surveyResult.csv',\n    content: msg.payload\n}, {filename: 'comment.csv',\n    path: '/data/comment.csv',}];\n\nresult = {};\nresult.payload = \"[\" + currentTime.getFullYear() + \"-\" + String(currentTime.getMonth() + 1) + \"-\" + currentTime.getDate() + \" \" + currentTime.getHours() + \":\" + currentTime.getMinutes() + \":\" + currentTime.getSeconds() + \"] An email has been sucssfully sent to 'iottestemail2@gmail.com'\"\n        \nreturn [msg, result];","outputs":1,"noerr":0,"x":910,"y":1640,"wires":[["cd194f48.06d39"]]},{"id":"25afe1e0.e5be0e","type":"inject","z":"3ee57aed.b68a16","name":"","topic":"","payload":"","payloadType":"date","repeat":"21600","crontab":"","once":true,"onceDelay":0.1,"x":670,"y":1640,"wires":[["4b5f6fa7.0a836"]]},{"id":"cd194f48.06d39","type":"e-mail","z":"3ee57aed.b68a16","server":"smtp.gmail.com","port":"465","secure":true,"name":"iottestemail2@gmail.com","dname":"","x":1210,"y":1640,"wires":[]},{"id":"653a4a44.1ef2f4","type":"ui_dropdown","z":"3ee57aed.b68a16","name":"","label":"The meeting room is ","tooltip":"","place":"Select option","group":"f088a1a3.a7e","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"too cold","value":"too cold","type":"str"},{"label":"too hot","value":"too hot","type":"str"},{"label":"proper","value":"proper","type":"str"},{"label":"little cold","value":"little cold","type":"str"},{"label":"little hot","value":"little hot","type":"str"}],"payload":"","topic":"","x":420,"y":940,"wires":[["b6fd5c6a.13f11"]]},{"id":"9f7d1662.6fa268","type":"ui_text","z":"3ee57aed.b68a16","group":"f088a1a3.a7e","order":1,"width":0,"height":0,"name":"Survey","label":"<i class=\"fa fa-smile-o fa-3x\" style=\"font-size:28px;\"></i> How's the temperature in the meeting room?","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":880,"wires":[]},{"id":"44a53fd.169b5c","type":"debug","z":"3ee57aed.b68a16","name":"sj","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1656.8900104869494,"y":894.1559657183559,"wires":[]},{"id":"b973be44.cff8c","type":"csv","z":"3ee57aed.b68a16","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":1390,"y":920,"wires":[["f53f3da6.4a0c5","44a53fd.169b5c"]]},{"id":"d24c02df.1917a","type":"function","z":"3ee57aed.b68a16","name":"build table","func":"var currentDate = new Date();\nvar varHours = currentDate.getHours() + 8;\n\nif (varHours > 24){\n    varHours = varHours - 24;\n}\n\nvar currentTime = currentDate.getFullYear() + \"-\" + String(currentDate.getMonth() + 1) + \"-\" + currentDate.getDate() + \" \" + varHours + \":\" + currentDate.getMinutes() + \":\" + currentDate.getSeconds();\n\n//var arr =[[\"quiet room 1\",19,30, \"too cold\"],[\"thor\",19,30, \"too cold\"],[\"Hermid\",19,30, \"too cold\"]];\nvar arr = [];\n\nvar tempSurvey = msg.payload[0];\ntempSurvey= tempSurvey.split(\",\");\n\nif((tempSurvey[0] == \"male\")||(tempSurvey[0] == \"female\")) {\n    var surveyResult = tempSurvey[1];\n    var gender = tempSurvey[0];\n}\nelse{\n    var surveyResult = tempSurvey[0];\n    var gender = tempSurvey[1];\n}\n\nvar tempData = msg.payload[1];\ntempData = tempData.split(\",\");\n\nvar temp = tempData[0];\nvar humi = tempData[1];\nhumi = humi.replace(\"\\n\", \"\");\n\narr = [[currentTime, \"quiet room 4\",temp, humi, surveyResult, gender]];\n//arr = arr.concat([[currentTime, \"klj\",19,30, \"too cold\"]]);\nmsg.payload = arr;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":940,"wires":[["b973be44.cff8c"]]},{"id":"3282c2b4.48143e","type":"ui_template","z":"3ee57aed.b68a16","group":"8d848ab1.a671e8","name":"Two dimension array table","order":1,"width":"12","height":"8","format":"<table id=\"table\" border=\"1\">\n <tr>\n <th>Time</th> \n <th>Meeting Room</th> \n <th>Temperature</th>\n <th>Humidity</th>\n <th>Survey</th>\n <th>Gender</th>\n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n <td ng-repeat=\"item in row\" >{{item}}</td>\n </tr>\n </tbody>\n</table>\n\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1803.596477508545,"y":1042.1286602020264,"wires":[[]]},{"id":"f53f3da6.4a0c5","type":"file","z":"3ee57aed.b68a16","name":"SaveFile_SurveryResult","filename":"/data/surveyResult.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","x":1668.9389419555664,"y":956.9462747573853,"wires":[["e833b78d.09ac78"]]},{"id":"e833b78d.09ac78","type":"file in","z":"3ee57aed.b68a16","name":"ReadFile_SurveyResult","filename":"/data/surveyResult.csv","format":"utf8","chunk":false,"sendError":false,"x":1340.5054473876953,"y":1083.89768409729,"wires":[["1684c217.fa083e"]]},{"id":"1684c217.fa083e","type":"csv","z":"3ee57aed.b68a16","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":1554.3422393798828,"y":1058.1935358047485,"wires":[["3282c2b4.48143e"]]},{"id":"4b9b556b.0d23fc","type":"ui_template","z":"3ee57aed.b68a16","group":"f088a1a3.a7e","name":"save button","order":4,"width":"0","height":"0","format":"<md-button class = \"nr-dashboard-button\" ng-click=\"send({payload: msg.payload })\" type = \"button\"> \n   Click To Save\n<!--<svg width = \"450px\" height = \"30px\" version=\"1.1\" viewBox=\"0 0 800 200\"></svg>-->\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":690,"y":940,"wires":[["62c77280.4ecfbc","af0c210c.f1193","da6dd5a4.41ffe8"]]},{"id":"62c77280.4ecfbc","type":"join","z":"3ee57aed.b68a16","name":"Combine Two Values","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":930.1904602050781,"y":947.617431640625,"wires":[["d24c02df.1917a","be9ebb38.0a6e98"]]},{"id":"af0c210c.f1193","type":"file in","z":"3ee57aed.b68a16","name":"Read Temp File","filename":"/data/tempsave.csv","format":"utf8","chunk":false,"sendError":false,"x":811.1904602050781,"y":1021.617431640625,"wires":[["62c77280.4ecfbc"]]},{"id":"32b8c7ff.b52bb8","type":"inject","z":"3ee57aed.b68a16","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":940,"wires":[["653a4a44.1ef2f4"]]},{"id":"119f1919.45c357","type":"ui_text","z":"3ee57aed.b68a16","group":"f088a1a3.a7e","order":5,"width":"7","height":"2","name":"Survey2","label":"<i class=\"fa fa-commenting-o fa-3x\" style=\"font-size:28px;\"></i> Any comments or advice for office environment detector? ","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":1160,"wires":[]},{"id":"93877361.adf0b","type":"ui_dropdown","z":"3ee57aed.b68a16","name":"","label":"What is your gender?","tooltip":"","place":"Select option","group":"f088a1a3.a7e","order":3,"width":0,"height":0,"passthru":false,"options":[{"label":"female","value":"female","type":"str"},{"label":"male","value":"male","type":"str"}],"payload":"","topic":"","x":400,"y":1020,"wires":[["b6fd5c6a.13f11"]]},{"id":"b6fd5c6a.13f11","type":"join","z":"3ee57aed.b68a16","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":1000,"wires":[["4b9b556b.0d23fc"]]},{"id":"be9ebb38.0a6e98","type":"debug","z":"3ee57aed.b68a16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1180,"y":860,"wires":[]},{"id":"da6dd5a4.41ffe8","type":"change","z":"3ee57aed.b68a16","name":"Clear Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"null","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1120,"wires":[["653a4a44.1ef2f4","93877361.adf0b"]]},{"id":"8d848ab1.a671e8","type":"ui_group","z":"","name":"Survey Result","tab":"afcf8bd6.a5e918","order":3,"disp":true,"width":"12","collapse":false},{"id":"8233f8d5.efca08","type":"mqtt-broker","z":"","name":"RaspberryPi","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"2","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7068c9a.3237b38","type":"ui_group","z":"9794bbca.6c8a18","name":"Realtime Data","tab":"afcf8bd6.a5e918","order":2,"disp":true,"width":"6","collapse":false},{"id":"e73dd00f.0fa85","type":"ui_group","z":"","name":"History","tab":"afcf8bd6.a5e918","order":4,"disp":true,"width":"8","collapse":false},{"id":"f088a1a3.a7e","type":"ui_group","z":"","name":"Survey","tab":"afcf8bd6.a5e918","order":1,"disp":true,"width":"9","collapse":false},{"id":"afcf8bd6.a5e918","type":"ui_tab","z":"","name":"Quiet Room 4","icon":"fa-envira","order":1,"disabled":false,"hidden":false}]