flows.json
[{"id":"de2f11e7.cdc98","type":"mqtt in","z":"c85467d8.1bbae8","name":"Raspberry","topic":"test/sj","qos":"2","broker":"8233f8d5.efca08","x":320,"y":560,"wires":[["d4b47c02.671f8","9bfa9c9e.e4bf"]]},{"id":"d4b47c02.671f8","type":"debug","z":"c85467d8.1bbae8","name":"rasp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":420,"wires":[]},{"id":"ed616.2b6e39eb","type":"function","z":"c85467d8.1bbae8","name":"FN_data_formatting","func":"// msg1 = '{\"deviceId\": \"Raspberry\", '\n// msg1 = msg1 + '\"key\": \"yWV1lFUpCaBCs4Iecrpy5aqEpOEv2Ji7t0MxWR2AaJw=\", '  \n// msg1 = msg1 + '\"protocol\": \"mqtt\", '\n\n// msg1 = msg1 + '\"data\": { \"' + msg.topic + '\": \"' + msg.payload + '\"}}'\n// //msg1 = msg1 + '\"data\": ' + msg.payload + '}'\n\n// newMsg = { payload: msg1 };\n// return newMsg;\n\nmsg1= {};\nmsg1.deviceId = \"Raspberry\";\nmsg1.key = \"yWV1lFUpCaBCs4Iecrpy5aqEpOEv2Ji7t0MxWR2AaJw=\";\nmsg1.protocol1 = 'mqtt';\nmsg1.data = {};\nmsg1.data.topic = msg.topic;\nmsg1.data.payload = msg.payload;\n\ndata = JSON.stringify(msg1);\n\nnewMsg = { payload: data };\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1180,"y":340,"wires":[[]]},{"id":"9bfa9c9e.e4bf","type":"function","z":"c85467d8.1bbae8","name":"FN_data_extract","func":"var data = JSON.parse(msg.payload);\n\nvar temp = data.temperature;\nvar humi = data.humidity;\nvar dist = data.distant;\n\ntemp = { payload: temp };\nhumi = { payload: humi };\ndist = { payload: dist };\n\nreturn [temp, humi, dist];","outputs":3,"noerr":0,"x":526,"y":634,"wires":[["ba450e3d.a7388","6b4d4e48.3f8fc","736168ed.1f7c48","1aad2562.bf8d2b"],["bc8ca42f.7dede8","6b4d4e48.3f8fc","d3cdef97.efbc7","1aad2562.bf8d2b"],["70a5ec09.a260e4","1aad2562.bf8d2b"]]},{"id":"3d06a34e.a8418c","type":"change","z":"c85467d8.1bbae8","name":"Set filename","rules":[{"t":"set","p":"payload","pt":"msg","to":"D:\\image\\image2\\rp_original.jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":100,"wires":[[]]},{"id":"e64a2881.863e18","type":"function","z":"c85467d8.1bbae8","name":"what the","func":"var fs = global.get('fsModule');\nvar photoFilePath = 'D:/image'; //Location of recorded photo files\n\nfs.readdir(photoFilePath, function(err, files) {\n    if (err) { throw err; }\n\n    var newestFile = getNewestFile(files, photoFilePath);\n    //console.log(newestFile)\n    if (newestFile && newestFile !== 'rpi_led.jpg') {\n        var originalfile = photoFilePath + '/' + newestFile;\n        var targetfile = photoFilePath + '/' + 'rpi_led.jpg';\n        console.log(\"the device image has been updated.\")\n        msg = true;\n        if (fs.existsSync(targetfile)) {\n            fs.unlinkSync(targetfile);\n        }\n        fs.rename(originalfile, targetfile, function(err) {\n            if(err) console.log(err);\n        });  \n    }\n    msg = false;\n});\n\nfunction getNewestFile(files, path) {\n    var out = [];\n    files.forEach(function(file) {\n        var stats = fs.statSync(path + \"/\" +file);\n        if(stats.isFile()) {\n            out.push({\"file\":file, \"mtime\": stats.mtime.getTime()});\n        }\n    });\n    out.sort(function(a,b) {\n        return b.mtime - a.mtime;\n    })\n    return (out.length>0) ? out[0].file : \"\";\n}\nreturn msg","outputs":1,"noerr":0,"x":620,"y":180,"wires":[[]]},{"id":"b04d7a1.855f088","type":"inject","z":"c85467d8.1bbae8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":430,"y":180,"wires":[[]]},{"id":"321bc7bf.7880a8","type":"inject","z":"c85467d8.1bbae8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":550,"y":1360,"wires":[["4fb56cee.050b74"]]},{"id":"4fb56cee.050b74","type":"function","z":"c85467d8.1bbae8","name":"FN_get_location","func":"// create random position\nvar lat = 1.290763; //51 + Math.random() * 0.2;\nvar lon = 103.787282;//-1.45 + Math.random() * 0.2;\nmsg.payload={lat:lat, lon:lon, name:\"DNV GL\", icon:\"building\", url:\"<a href=\\\"../ui/#/0\\\">IBM link</a>\"};\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":1420,"wires":[["bcfcdf83.dbd4f"]]},{"id":"b6b03396.869bd","type":"inject","z":"c85467d8.1bbae8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":530,"y":1480,"wires":[["984496c2.eb2588"]]},{"id":"984496c2.eb2588","type":"template","z":"c85467d8.1bbae8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"../worldmap\" width = 470x height=500px ></iframe>","x":730,"y":1480,"wires":[["1fc4a832.fa3e28"]]},{"id":"b5a12072.e6211","type":"comment","z":"c85467d8.1bbae8","name":"How to embed Map in Dashboard","info":"This example shows how to embed the Worldmap \ninto a template node within the `node-red-dashboard`\n\nThe first flow creates a dashboard button that \ngenerates a randon position, with the required \nicon, and passes that to the worldmap. The\nmap is configured to automatically pan to the\nposition of any point that arrives.\n\nThe second flow initialise the dashboard template\nwith the initial map and sets it to a more square shape\nby adjusting the height.","x":600,"y":1300,"wires":[]},{"id":"1154c300.ad21fd","type":"ui_button","z":"c85467d8.1bbae8","name":"","group":"f088a1a3.a7e","order":6,"width":0,"height":0,"passthru":false,"label":"Search Location","tooltip":"","color":"","bgcolor":"","icon":"building","payload":"","payloadType":"str","topic":"","x":505,"y":1419,"wires":[["4fb56cee.050b74"]]},{"id":"ba450e3d.a7388","type":"ui_gauge","z":"c85467d8.1bbae8","name":"Temperature Gauge","group":"2595baaf.381fb6","order":2,"width":"6","height":"7","gtype":"gage","title":"Temperature","label":"Celcius Degree","format":"{{value}}","min":"-10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":920,"y":560,"wires":[]},{"id":"bc8ca42f.7dede8","type":"ui_gauge","z":"c85467d8.1bbae8","name":"Humidity Level","group":"2595baaf.381fb6","order":3,"width":0,"height":0,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":907.45458984375,"y":629.8182373046875,"wires":[]},{"id":"1fc4a832.fa3e28","type":"ui_template","z":"c85467d8.1bbae8","group":"f088a1a3.a7e","name":"","order":4,"width":"0","height":"0","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":900.0000228881836,"y":1482.0000360012054,"wires":[[]]},{"id":"30e09b28.20ac94","type":"ui_template","z":"c85467d8.1bbae8","group":"f088a1a3.a7e","name":"Static_Device_Image","order":5,"width":"0","height":"0","format":"<a href=\"http://127.0.0.1:1880/worldmap/\" target=\"_blank\" style = \"color:black;\">Full screen map</a>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":861,"y":1344,"wires":[[]]},{"id":"4dd012c6.9a9c7c","type":"azureiothub","z":"c85467d8.1bbae8","name":"Azure IoT Hub","protocol":"mqtt","x":1440,"y":340,"wires":[[]]},{"id":"bcfcdf83.dbd4f","type":"worldmap","z":"c85467d8.1bbae8","name":"","lat":"1.2","lon":"103.7","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","path":"","x":1010,"y":1420,"wires":[]},{"id":"46728f6f.76029","type":"ui_dropdown","z":"c85467d8.1bbae8","name":"","label":"The meeting room is ","tooltip":"","place":"Select option","group":"f088a1a3.a7e","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"too cold","value":"too cold","type":"str"},{"label":"too hot","value":"too hot","type":"str"},{"label":"proper","value":"proper","type":"str"},{"label":"little cold","value":"little cold","type":"str"},{"label":"little hot","value":"little hot","type":"str"}],"payload":"","topic":"","x":340,"y":1100,"wires":[["73aab4c1.21da2c"]]},{"id":"99ba00c6.cea0f","type":"ui_text","z":"c85467d8.1bbae8","group":"f088a1a3.a7e","order":1,"width":0,"height":0,"name":"Survey","label":"<i class=\"fa fa-meh-o fa-3x\" style=\"font-size:28px;\"></i> How's the temperature in the meeting room?","format":"{{msg.payload}}","layout":"row-spread","x":290,"y":1040,"wires":[]},{"id":"49afad2d.84ead4","type":"debug","z":"c85467d8.1bbae8","name":"sj","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1576.8900104869494,"y":1054.155965718356,"wires":[]},{"id":"a3d5ece7.dc7c3","type":"csv","z":"c85467d8.1bbae8","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":1232.4006652832031,"y":1083.0791625976562,"wires":[["7033f355.bd464c","49afad2d.84ead4"]]},{"id":"b6bc9ab9.d6a028","type":"function","z":"c85467d8.1bbae8","name":"build table","func":"var currentDate = new Date();\nvar varHours = currentDate.getHours() + 8;\n\nif (varHours > 24){\n    varHours = varHours - 24;\n}\n\nvar currentTime = currentDate.getFullYear() + \"-\" + String(currentDate.getMonth() + 1) + \"-\" + currentDate.getDate() + \" \" + varHours + \":\" + currentDate.getMinutes() + \":\" + currentDate.getSeconds();\n\n//var arr =[[\"quiet room 1\",19,30, \"too cold\"],[\"thor\",19,30, \"too cold\"],[\"Hermid\",19,30, \"too cold\"]];\nvar arr = [];\n\nvar surveyResult = msg.payload[0];\nvar tempData = msg.payload[1];\ntempData = tempData.split(\",\");\n\nvar temp = tempData[0];\nvar humi = tempData[1];\nhumi = humi.replace(\"\\n\", \"\");\n\narr = [[currentTime, \"quiet room 4\",temp, humi, surveyResult]];\n//arr = arr.concat([[currentTime, \"klj\",19,30, \"too cold\"]]);\nmsg.payload = arr;\nreturn msg;","outputs":1,"noerr":0,"x":1056.4634704589844,"y":1099.5267944335938,"wires":[["a3d5ece7.dc7c3"]]},{"id":"87b75926.349468","type":"ui_template","z":"c85467d8.1bbae8","group":"8d848ab1.a671e8","name":"Two dimension array table","order":1,"width":"20","height":"12","format":"<table id=\"table\" border=\"1\">\n <tr>\n <th>Time</th> \n <th>Meeting Room</th> \n <th>Temperature</th>\n <th>Humidity</th>\n <th>Survey</th>\n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n <td ng-repeat=\"item in row\" >{{item}}</td>\n </tr>\n </tbody>\n</table>\n\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1723.596477508545,"y":1202.1286602020264,"wires":[[]]},{"id":"fba57595.61b7d8","type":"ui_button","z":"c85467d8.1bbae8","name":"","group":"4ff559d0.788698","order":0,"width":0,"height":0,"passthru":true,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":670,"y":1600,"wires":[["47b4a1f8.fd80e"]]},{"id":"210056bb.03881a","type":"ui_button","z":"c85467d8.1bbae8","name":"","group":"afb38adb.d4bd88","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":634.4545402526855,"y":1680.5454788208008,"wires":[[]]},{"id":"7033f355.bd464c","type":"file","z":"c85467d8.1bbae8","name":"SaveFile_SurveryResult","filename":"/data/surveyResult.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1588.9389419555664,"y":1116.9462747573853,"wires":[["7bcd0ae.16feaf4"]]},{"id":"7bcd0ae.16feaf4","type":"file in","z":"c85467d8.1bbae8","name":"ReadFile_SurveyResult","filename":"/data/surveyResult.csv","format":"utf8","chunk":false,"sendError":false,"x":1260.5054473876953,"y":1243.89768409729,"wires":[["c83cd228.f146e"]]},{"id":"dbdcad58.cb8e1","type":"function","z":"c85467d8.1bbae8","name":"FN_convert_data","func":"// for (var w in sortedData) {\n//     var temp = sortedData[w];\n//     var temp2 = temp.split(\",\");\n//     for (var i in temp2) {\n//         outputMsgs.push(temp2[i]);\n//     }\n//     outputMsgs[w] = outputMsgs;\n// }\n\n// msg = outputMsgs;\n// console.log(msg);\n\n//msg.payload = [[123, \"quiet room 1\",19,30, \"proper\"]];\n\nreturn msg;","outputs":1,"noerr":0,"x":1660.5501899719238,"y":1274.7211618423462,"wires":[[]]},{"id":"c83cd228.f146e","type":"csv","z":"c85467d8.1bbae8","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":1474.3422393798828,"y":1218.1935358047485,"wires":[["87b75926.349468"]]},{"id":"73aab4c1.21da2c","type":"ui_template","z":"c85467d8.1bbae8","group":"f088a1a3.a7e","name":"save button","order":3,"width":"0","height":"0","format":"<md-button class = \"nr-dashboard-button\" ng-click=\"send({payload: msg.payload })\" type = \"button\"> \n   Click To Save\n<!--<svg width = \"450px\" height = \"30px\" version=\"1.1\" viewBox=\"0 0 800 200\"></svg>-->\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":547.7364349365234,"y":1107.6190577745438,"wires":[["36e5e865.435358","26fd4e64.06a522"]]},{"id":"47b4a1f8.fd80e","type":"debug","z":"c85467d8.1bbae8","name":"gg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":1600,"wires":[]},{"id":"25568a23.6bb376","type":"ui_dropdown","z":"c85467d8.1bbae8","name":"","label":"","tooltip":"","place":"Select option","group":"4ff559d0.788698","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"sj","value":"sj","type":"str"},{"label":"ajjjj","value":"sjjj","type":"str"}],"payload":"","topic":"","x":500,"y":1600,"wires":[["fba57595.61b7d8"]]},{"id":"218e7c87.b73dc4","type":"file","z":"c85467d8.1bbae8","name":"Save Temp File","filename":"/data/tempsave.csv","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1000,"y":740,"wires":[[]]},{"id":"36e5e865.435358","type":"join","z":"c85467d8.1bbae8","name":"Combine Two Values","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":850.1904602050781,"y":1107.617431640625,"wires":[["b6bc9ab9.d6a028"]]},{"id":"26fd4e64.06a522","type":"file in","z":"c85467d8.1bbae8","name":"Read Temp File","filename":"/data/tempsave.csv","format":"utf8","chunk":false,"sendError":false,"x":731.1904602050781,"y":1181.617431640625,"wires":[["36e5e865.435358"]]},{"id":"6e654afd.8d64a4","type":"inject","z":"c85467d8.1bbae8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110.19046020507812,"y":1105.6174697875977,"wires":[["46728f6f.76029"]]},{"id":"6b4d4e48.3f8fc","type":"join","z":"c85467d8.1bbae8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":", ","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":770,"y":740,"wires":[["218e7c87.b73dc4"]]},{"id":"736168ed.1f7c48","type":"ui_chart","z":"c85467d8.1bbae8","name":"Temp History","group":"e73dd00f.0fa85","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1108,"y":592,"wires":[["b8d5f059.08b24"],[]]},{"id":"d3cdef97.efbc7","type":"ui_chart","z":"c85467d8.1bbae8","name":"Humi History","group":"e73dd00f.0fa85","order":2,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1104,"y":671,"wires":[["1324d4c1.2dffab"],[]]},{"id":"1b928777.610e49","type":"inject","z":"c85467d8.1bbae8","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":670,"y":1780,"wires":[["6c2a3b49.7e44c4"]]},{"id":"6c2a3b49.7e44c4","type":"function","z":"c85467d8.1bbae8","name":"add new layer","func":"msg.payload = {};\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';\nvar o = { maxZoom: 19, attribution: '&copy; OpenStreetMap'};\n\nmsg.payload.command.map = {name:\"OSMhot\", url:u, opt:o};\nmsg.payload.command.layer = \"OSMhot\";\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1780,"wires":[["f3ef1908.bb4ec8"]]},{"id":"f3ef1908.bb4ec8","type":"worldmap","z":"c85467d8.1bbae8","name":"","x":1230,"y":1820,"wires":[]},{"id":"b9e3404c.92786","type":"function","z":"c85467d8.1bbae8","name":"USGS Quake monitor csv re-parse","func":"msg.payload.lat = msg.payload.latitude;\nmsg.payload.lon = msg.payload.longitude;\nmsg.payload.layer = \"earthquake\";\nmsg.payload.name = msg.payload.id;\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"orange\";\n\ndelete msg.payload.latitude;\ndelete msg.payload.longitude;\t\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":1920,"wires":[["f3ef1908.bb4ec8"]]},{"id":"7db03c6f.facfc4","type":"function","z":"c85467d8.1bbae8","name":"move and zoom","func":"msg.payload = { command:{layer:\"Esri Terrain\",lat:0,lon:0,zoom:3} };\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1820,"wires":[["f3ef1908.bb4ec8"]]},{"id":"5a78313c.fbe62","type":"csv","z":"c85467d8.1bbae8","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","x":870,"y":1860,"wires":[["b9e3404c.92786"]]},{"id":"c60c9fc3.c2f62","type":"inject","z":"c85467d8.1bbae8","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":670,"y":1820,"wires":[["7db03c6f.facfc4"]]},{"id":"ba01e04d.2fff9","type":"http request","z":"c85467d8.1bbae8","name":"","method":"GET","url":"http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_day.csv","tls":"","x":750,"y":1920,"wires":[["5a78313c.fbe62"]]},{"id":"ae6f55a5.15b8a8","type":"inject","z":"c85467d8.1bbae8","name":"Quakes","topic":"","payload":"","payloadType":"none","repeat":"900","crontab":"","once":false,"x":680,"y":1860,"wires":[["ba01e04d.2fff9"]]},{"id":"74b7fcc2.3dce64","type":"ui_switch","z":"c85467d8.1bbae8","name":"meetingroom_occupation","label":"Is meeting room occupied?","tooltip":"","group":"2595baaf.381fb6","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":970,"y":840,"wires":[[]]},{"id":"9ba9b5.863f9648","type":"ui_chart","z":"c85467d8.1bbae8","name":"History_Occupation","group":"e73dd00f.0fa85","order":3,"width":0,"height":0,"label":"Meeting Room Occupation","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1030,"y":940,"wires":[[],[]]},{"id":"70a5ec09.a260e4","type":"function","z":"c85467d8.1bbae8","name":"FN_extract_availability","func":"var availability = 0;\n\nif (msg.payload <= 30) {\n    availability = 1;\n}\nmsg.payload = availability;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":840,"wires":[["74b7fcc2.3dce64","9ba9b5.863f9648"]]},{"id":"dae58155.dd145","type":"file","z":"c85467d8.1bbae8","name":"storeData","filename":"/data/alldata.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":960,"y":300,"wires":[["ed616.2b6e39eb"]]},{"id":"1aad2562.bf8d2b","type":"join","z":"c85467d8.1bbae8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":630,"y":320,"wires":[["a9e004d3.a7a178"]]},{"id":"a9e004d3.a7a178","type":"csv","z":"c85467d8.1bbae8","name":"","sep":",","hdrin":false,"hdrout":false,"multi":"one","ret":"\\n","temp":"temperature,humidity,distance","skip":"0","x":800,"y":320,"wires":[["dae58155.dd145"]]},{"id":"dfbc6ada.026958","type":"join","z":"c85467d8.1bbae8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"50","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1290,"y":520,"wires":[["2d93ceb8.71a372"]]},{"id":"2d93ceb8.71a372","type":"function","z":"c85467d8.1bbae8","name":"FN_GetMeanValue","func":"var data = [];\nvar inputData = [];\ndata = msg.payload;\n\nfunction mean(inputData) {\n    var total = 0, i;\n    for (i = 0; i < inputData.length; i += 1) {\n        total += inputData[i];\n    }\n    return total / inputData.length;\n}\n\nvar varMean = mean(data);\nvar k = 0;\nvar cleanedData = []\n\nfor (i = 0; i < 50; i++){\n    if (((varMean * 0.2) < data[i]) && (data[i] < (varMean * 1.2))) {\n        cleanedData[k] = data[i];\n        k += 1;\n    }\n}\n\nmsg.payload = cleanedData;\n\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":520,"wires":[[]]},{"id":"5f64f15b.36f36","type":"ui_chart","z":"c85467d8.1bbae8","name":"after_temp","group":"a3d8a5d7.09de48","order":1,"width":0,"height":0,"label":"Cleaned Temperature Data","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1630,"y":600,"wires":[[],[]]},{"id":"cbd18f72.81425","type":"ui_chart","z":"c85467d8.1bbae8","name":"after_humi","group":"a3d8a5d7.09de48","order":3,"width":0,"height":0,"label":"Cleaned Humidity Data","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1630,"y":700,"wires":[[],[]]},{"id":"b8d5f059.08b24","type":"function","z":"c85467d8.1bbae8","name":"FN_filtering_data","func":"var inputData = [];\nvar i = 0;\n\nfunction mean(inputData) {\n    var total = 0, i;\n    for (i = 0; i < inputData.length; i += 1) {\n        total += inputData[i];\n    }\n    return total / inputData.length;\n}\n\nvar varData = [];\nvarData = msg.payload;\n\nvar varCleandData = [];\nvar accumData = [];\nvar k = 0;\nvar j = 0;\nvar r = 0;\nvar varMean = 0;\n\nif ((varData[0].data[0].length !== 0) && (varData[0].data[0].length >= 5)) {\n    for (j = 0; j < varData[0].data[0].length/5; j += 1) // train with around 80 previous data\n    {\n        accumData[j] = varData[0].data[0][j].y;\n    }\n    varMean = mean(accumData);\n    for (r = 0; r < varData[0].data[0].length; r += 1) \n    {\n        if (((varMean * 0.2) < varData[0].data[0][r].y) && (varData[0].data[0][r].y < (varMean * 1.2))) {\n            varCleandData[0] = varData[0];\n            varCleandData[0].data[0][k] = varData[0].data[0][r];\n            k += 1;\n        }\n    }\n}\nmsg.payload = varCleandData;\nvar msg2 = {};\n\nmsg2.payload = varMean;\n\nreturn [msg, msg2];","outputs":2,"noerr":0,"x":1410,"y":640,"wires":[["5f64f15b.36f36"],["e4ff249e.37acc8"]]},{"id":"1324d4c1.2dffab","type":"function","z":"c85467d8.1bbae8","name":"FN_filtering_data","func":"var inputData = [];\nvar i = 0;\n\nfunction mean(inputData) {\n    var total = 0, i;\n    for (i = 0; i < inputData.length; i += 1) {\n        total += inputData[i];\n    }\n    return total / inputData.length;\n}\n\nvar varData = [];\nvarData = msg.payload;\n\nvar varCleandData = [];\nvar accumData = [];\nvar k = 0;\nvar j = 0;\nvar r = 0;\nvar varMean = 0;\n    \nif ((varData[0].data[0].length !== 0) && (varData[0].data[0].length >= 5)) {\n    for (j = 0; j < varData[0].data[0].length/5; j += 1) // train with around 80 previous data\n    {\n        accumData[j] = varData[0].data[0][j].y;\n    }\n    varMean = mean(accumData);\n    for (r = 0; r < varData[0].data[0].length; r += 1) // train with 50 previous data\n    {\n        if (((varMean * 0.2) < varData[0].data[0][r].y) && (varData[0].data[0][r].y <= (varMean * 1.2))) {\n            varCleandData[0] = varData[0];\n            varCleandData[0].data[0][k] = varData[0].data[0][r];\n            k += 1;\n        }\n    }\n}\n\nmsg.payload = varCleandData;\nvar msg2 = {};\n\nmsg2.payload = varMean;\n\nreturn [msg, msg2];","outputs":2,"noerr":0,"x":1410,"y":720,"wires":[["cbd18f72.81425"],["f182ca0c.c10038"]]},{"id":"e4ff249e.37acc8","type":"ui_text","z":"c85467d8.1bbae8","group":"a3d8a5d7.09de48","order":2,"width":0,"height":0,"name":"Temp Real Time Mean Value","label":"Temperature Real Time Mean Value","format":"{{msg.payload}}","layout":"row-center","x":1680,"y":640,"wires":[]},{"id":"f182ca0c.c10038","type":"ui_text","z":"c85467d8.1bbae8","group":"a3d8a5d7.09de48","order":4,"width":0,"height":0,"name":"Humi Real Time Mean Value","label":"Humidity Real Time Mean Value","format":"{{msg.payload}}","layout":"row-center","x":1680,"y":740,"wires":[]},{"id":"8446ad22.f24bb","type":"debug","z":"c85467d8.1bbae8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1720,"y":520,"wires":[]},{"id":"b458bb83.857418","type":"inject","z":"c85467d8.1bbae8","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1310.0000381469727,"y":212.00001621246338,"wires":[["fc916089.96115"]]},{"id":"c00d679.31b1198","type":"debug","z":"c85467d8.1bbae8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1660,"y":220,"wires":[]},{"id":"fc916089.96115","type":"python3-function","z":"c85467d8.1bbae8","name":"","func":"sj = msg['payload']\nmsg['payload'] = sj+20\nreturn msg","outputs":1,"x":1465.0730743408203,"y":210.06947422027588,"wires":[["c00d679.31b1198"]]},{"id":"33f1d771.2f1778","type":"ui_template","z":"c85467d8.1bbae8","group":"f088a1a3.a7e","name":"Raspberry Pi with sensors","order":6,"width":0,"height":0,"format":"<div height=\"500\" style=\"height: 500px;\">\n<img id=\"imgid\" src=\"/data/rpi_meeting.jpg\"/ width=\"280\"><br/>\n<script >\n   function updateImage()\n   {   \n      var time    = new Date().getTime(); \n      var src     = 'http://127.0.0.1:1880//data//rpi_meeting.jpg?time=' + time;\n      document.getElementById(\"imgid\").src = src;\n   }\n    //setInterval(updateImage, 1000);\n</script>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":730,"y":100,"wires":[[]]},{"id":"8233f8d5.efca08","type":"mqtt-broker","z":"","name":"RaspberryPi","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"2","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f088a1a3.a7e","type":"ui_group","z":"","name":"Survey","tab":"afcf8bd6.a5e918","order":1,"disp":true,"width":"9","collapse":false},{"id":"2595baaf.381fb6","type":"ui_group","z":"4bfc0e20.6c5f4","name":"Realtime Data","tab":"afcf8bd6.a5e918","order":2,"disp":true,"width":"6","collapse":false},{"id":"8d848ab1.a671e8","type":"ui_group","z":"4bfc0e20.6c5f4","name":"Survey Result","tab":"afcf8bd6.a5e918","order":3,"disp":true,"width":"20","collapse":false},{"id":"4ff559d0.788698","type":"ui_group","z":"","name":"click","tab":"267c1655.b000ca","order":2,"disp":true,"width":"6","collapse":false},{"id":"afb38adb.d4bd88","type":"ui_group","z":"","name":"click","tab":"b86ed05.5ee1b3","order":2,"disp":true,"width":"6","collapse":false},{"id":"e73dd00f.0fa85","type":"ui_group","z":"4bfc0e20.6c5f4","name":"History","tab":"afcf8bd6.a5e918","order":4,"disp":true,"width":"12","collapse":false},{"id":"a3d8a5d7.09de48","type":"ui_group","z":"","name":"Data Cleansing","tab":"afcf8bd6.a5e918","order":5,"disp":true,"width":"12","collapse":false},{"id":"afcf8bd6.a5e918","type":"ui_tab","z":"4bfc0e20.6c5f4","name":"Quiet Room 4","icon":"fa-envira","order":1},{"id":"267c1655.b000ca","type":"ui_tab","z":"4bfc0e20.6c5f4","name":"Meeting 1","icon":"fa-heart","order":3},{"id":"b86ed05.5ee1b3","type":"ui_tab","z":"","name":"Meeting 2","icon":"fa-star","order":4}]