flows.json
[{"id":"ad89e8ed.557f08","type":"mqtt in","z":"9794bbca.6c8a18","name":"Raspberry","topic":"test/sj","qos":"2","broker":"8233f8d5.efca08","x":320,"y":400,"wires":[["1c5a116e.8de6cf","6f01e351.1b990c"]]},{"id":"1c5a116e.8de6cf","type":"debug","z":"9794bbca.6c8a18","name":"rasp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":260,"wires":[]},{"id":"db1edcd5.bfdc9","type":"function","z":"9794bbca.6c8a18","name":"FN_data_formatting","func":"// msg1 = '{\"deviceId\": \"Raspberry\", '\n// msg1 = msg1 + '\"key\": \"yWV1lFUpCaBCs4Iecrpy5aqEpOEv2Ji7t0MxWR2AaJw=\", '  \n// msg1 = msg1 + '\"protocol\": \"mqtt\", '\n\n// msg1 = msg1 + '\"data\": { \"' + msg.topic + '\": \"' + msg.payload + '\"}}'\n// //msg1 = msg1 + '\"data\": ' + msg.payload + '}'\n\n// newMsg = { payload: msg1 };\n// return newMsg;\n\nmsg1= {};\nmsg1.deviceId = \"Raspberry\";\nmsg1.key = \"yWV1lFUpCaBCs4Iecrpy5aqEpOEv2Ji7t0MxWR2AaJw=\";\nmsg1.protocol1 = 'mqtt';\nmsg1.data = {};\nmsg1.data.topic = msg.topic;\nmsg1.data.payload = msg.payload;\n\ndata = JSON.stringify(msg1);\n\nnewMsg = { payload: data };\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1220,"y":120,"wires":[["2092b2ed.433e7e"]]},{"id":"6f01e351.1b990c","type":"function","z":"9794bbca.6c8a18","name":"FN_data_extract","func":"var data = JSON.parse(msg.payload);\n\nvar temp = data.temperature;\nvar humi = data.humidity;\nvar dist = data.distant;\n\ntemp = { payload: temp };\nhumi = { payload: humi };\ndist = { payload: dist };\n\nreturn [temp, humi, dist];","outputs":3,"noerr":0,"x":526,"y":474,"wires":[["6130d65.12bed28","73b9fc55.cf1cd4","b4ed688d.989bd8","3605539.2ee48ac"],["aabc3187.b31a4","73b9fc55.cf1cd4","eef6e253.55333","3605539.2ee48ac"],["b1a6472c.682c78","3605539.2ee48ac"]]},{"id":"6130d65.12bed28","type":"ui_gauge","z":"9794bbca.6c8a18","name":"Temperature Gauge","group":"7068c9a.3237b38","order":2,"width":"6","height":"7","gtype":"gage","title":"Temperature","label":"Celcius Degree","format":"{{value}}","min":"-10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":920,"y":400,"wires":[]},{"id":"aabc3187.b31a4","type":"ui_gauge","z":"9794bbca.6c8a18","name":"Humidity Level","group":"7068c9a.3237b38","order":3,"width":0,"height":0,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":907.45458984375,"y":469.8182373046875,"wires":[]},{"id":"d73388f7.629148","type":"ui_dropdown","z":"9794bbca.6c8a18","name":"","label":"The meeting room is ","tooltip":"","place":"Select option","group":"f088a1a3.a7e","order":4,"width":0,"height":0,"passthru":false,"options":[{"label":"too cold","value":"too cold","type":"str"},{"label":"too hot","value":"too hot","type":"str"},{"label":"proper","value":"proper","type":"str"},{"label":"little cold","value":"little cold","type":"str"},{"label":"little hot","value":"little hot","type":"str"}],"payload":"","topic":"","x":440,"y":920,"wires":[["b2b76563.d545d8"]]},{"id":"d78fdf54.2921c","type":"ui_text","z":"9794bbca.6c8a18","group":"f088a1a3.a7e","order":2,"width":0,"height":0,"name":"Survey","label":"<i class=\"fa fa-smile-o fa-3x\" style=\"font-size:28px;\"></i> How's the temperature in the meeting room?","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":860,"wires":[]},{"id":"502ea4a1.d5b82c","type":"debug","z":"9794bbca.6c8a18","name":"sj","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1636.8900104869494,"y":874.1559657183559,"wires":[]},{"id":"3ce94b77.53fd34","type":"csv","z":"9794bbca.6c8a18","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":1292.4006652832031,"y":903.0791625976562,"wires":[["1a11d3e1.84bcec","502ea4a1.d5b82c"]]},{"id":"7d159e24.27799","type":"function","z":"9794bbca.6c8a18","name":"build table","func":"var currentDate = new Date();\nvar varHours = currentDate.getHours() + 8;\n\nif (varHours > 24){\n    varHours = varHours - 24;\n}\n\nvar currentTime = currentDate.getFullYear() + \"-\" + String(currentDate.getMonth() + 1) + \"-\" + currentDate.getDate() + \" \" + varHours + \":\" + currentDate.getMinutes() + \":\" + currentDate.getSeconds();\n\n//var arr =[[\"quiet room 1\",19,30, \"too cold\"],[\"thor\",19,30, \"too cold\"],[\"Hermid\",19,30, \"too cold\"]];\nvar arr = [];\n\nvar surveyResult = msg.payload[0];\nvar tempData = msg.payload[1];\ntempData = tempData.split(\",\");\n\nvar temp = tempData[0];\nvar humi = tempData[1];\nhumi = humi.replace(\"\\n\", \"\");\n\narr = [[currentTime, \"quiet room 4\",temp, humi, surveyResult]];\n//arr = arr.concat([[currentTime, \"klj\",19,30, \"too cold\"]]);\nmsg.payload = arr;\nreturn msg;","outputs":1,"noerr":0,"x":1116.4634704589844,"y":919.5267944335938,"wires":[["3ce94b77.53fd34"]]},{"id":"974b5fad.d808d","type":"ui_template","z":"9794bbca.6c8a18","group":"8d848ab1.a671e8","name":"Two dimension array table","order":1,"width":"12","height":"8","format":"<table id=\"table\" border=\"1\">\n <tr>\n <th>Time</th> \n <th>Meeting Room</th> \n <th>Temperature</th>\n <th>Humidity</th>\n <th>Survey</th>\n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n <td ng-repeat=\"item in row\" >{{item}}</td>\n </tr>\n </tbody>\n</table>\n\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1783.596477508545,"y":1022.1286602020264,"wires":[[]]},{"id":"1a11d3e1.84bcec","type":"file","z":"9794bbca.6c8a18","name":"SaveFile_SurveryResult","filename":"/data/surveyResult.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1648.9389419555664,"y":936.9462747573853,"wires":[["bc944463.e088b8"]]},{"id":"bc944463.e088b8","type":"file in","z":"9794bbca.6c8a18","name":"ReadFile_SurveyResult","filename":"/data/surveyResult.csv","format":"utf8","chunk":false,"sendError":false,"x":1320.5054473876953,"y":1063.89768409729,"wires":[["bfe0de33.0a54d"]]},{"id":"bfe0de33.0a54d","type":"csv","z":"9794bbca.6c8a18","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":1534.3422393798828,"y":1038.1935358047485,"wires":[["974b5fad.d808d"]]},{"id":"b2b76563.d545d8","type":"ui_template","z":"9794bbca.6c8a18","group":"f088a1a3.a7e","name":"save button","order":6,"width":"0","height":"0","format":"<md-button class = \"nr-dashboard-button\" ng-click=\"send({payload: msg.payload })\" type = \"button\"> \n   Click To Save\n<!--<svg width = \"450px\" height = \"30px\" version=\"1.1\" viewBox=\"0 0 800 200\"></svg>-->\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":650,"y":920,"wires":[["f9f5f002.b7dd6","d8ea92d6.318c9"]]},{"id":"4a1a008f.5160b","type":"file","z":"9794bbca.6c8a18","name":"Save Temp File","filename":"/data/tempsave.csv","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1000,"y":580,"wires":[[]]},{"id":"f9f5f002.b7dd6","type":"join","z":"9794bbca.6c8a18","name":"Combine Two Values","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":910.1904602050781,"y":927.617431640625,"wires":[["7d159e24.27799"]]},{"id":"d8ea92d6.318c9","type":"file in","z":"9794bbca.6c8a18","name":"Read Temp File","filename":"/data/tempsave.csv","format":"utf8","chunk":false,"sendError":false,"x":791.1904602050781,"y":1001.617431640625,"wires":[["f9f5f002.b7dd6"]]},{"id":"81f22942.58c428","type":"inject","z":"9794bbca.6c8a18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":920,"wires":[["d73388f7.629148"]]},{"id":"73b9fc55.cf1cd4","type":"join","z":"9794bbca.6c8a18","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":", ","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":770,"y":580,"wires":[["4a1a008f.5160b"]]},{"id":"b4ed688d.989bd8","type":"ui_chart","z":"9794bbca.6c8a18","name":"Temp History","group":"e73dd00f.0fa85","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1108,"y":432,"wires":[[],[]]},{"id":"eef6e253.55333","type":"ui_chart","z":"9794bbca.6c8a18","name":"Humi History","group":"e73dd00f.0fa85","order":2,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1104,"y":511,"wires":[[],[]]},{"id":"5192d017.c15d2","type":"ui_switch","z":"9794bbca.6c8a18","name":"meetingroom_occupation","label":"Is meeting room occupied?","tooltip":"","group":"7068c9a.3237b38","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":970,"y":680,"wires":[[]]},{"id":"76386d93.41c874","type":"ui_chart","z":"9794bbca.6c8a18","name":"History_Occupation","group":"e73dd00f.0fa85","order":3,"width":0,"height":0,"label":"Meeting Room Occupation","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1030,"y":780,"wires":[[],[]]},{"id":"b1a6472c.682c78","type":"function","z":"9794bbca.6c8a18","name":"FN_extract_availability","func":"var availability = 0;\n\nif (msg.payload <= 30) {\n    availability = 1;\n}\nmsg.payload = availability;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":680,"wires":[["5192d017.c15d2","76386d93.41c874"]]},{"id":"2edf7fd3.538d9","type":"file","z":"9794bbca.6c8a18","name":"storeData","filename":"/data/alldata.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1000,"y":120,"wires":[["db1edcd5.bfdc9"]]},{"id":"3605539.2ee48ac","type":"join","z":"9794bbca.6c8a18","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":630,"y":160,"wires":[["a5666f12.0d3fd"]]},{"id":"a5666f12.0d3fd","type":"csv","z":"9794bbca.6c8a18","name":"","sep":",","hdrin":false,"hdrout":false,"multi":"one","ret":"\\n","temp":"temperature,humidity,distance","skip":"0","x":800,"y":160,"wires":[["2edf7fd3.538d9","e4558fdb.05b35"]]},{"id":"9103d981.ff4fe8","type":"ui_text","z":"9794bbca.6c8a18","group":"f088a1a3.a7e","order":8,"width":"7","height":"2","name":"Survey2","label":"<i class=\"fa fa-commenting-o fa-3x\" style=\"font-size:28px;\"></i> Any comments or advice for office environment detector? ","format":"{{msg.payload}}","layout":"row-spread","x":380,"y":1140,"wires":[]},{"id":"ce1ab148.b004","type":"debug","z":"9794bbca.6c8a18","name":"sj","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1250,"y":1220,"wires":[]},{"id":"7557ea55.280254","type":"ui_template","z":"9794bbca.6c8a18","group":"8d848ab1.a671e8","name":"Two dimension array table","order":2,"width":"12","height":"8","format":"<table id=\"table\" border=\"1\">\n <tr>\n <th>comments</th> \n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n <td ng-repeat=\"item in row\" >{{item}}</td>\n </tr>\n </tbody>\n</table>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1823.596477508545,"y":1342.1286602020264,"wires":[[]]},{"id":"95dff05d.900e","type":"file","z":"9794bbca.6c8a18","name":"SaveFile_SurveryResult","filename":"/data/comment.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1110,"y":1320,"wires":[["224bd586.6533fa"]]},{"id":"224bd586.6533fa","type":"file in","z":"9794bbca.6c8a18","name":"ReadFile_SurveyResult","filename":"/data/comment.csv","format":"utf8","chunk":false,"sendError":false,"x":1360.5054473876953,"y":1383.89768409729,"wires":[["28904b3e.dfd9f4"]]},{"id":"28904b3e.dfd9f4","type":"csv","z":"9794bbca.6c8a18","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":1574.3422393798828,"y":1358.1935358047485,"wires":[["7557ea55.280254"]]},{"id":"bf686f6b.a880f","type":"ui_template","z":"9794bbca.6c8a18","group":"f088a1a3.a7e","name":"save button2","order":13,"width":"0","height":"0","format":"<md-button class = \"nr-dashboard-button\" ng-click=\"send({payload: msg.payload })\" type = \"button\"> \n   Click To Save\n<!--<svg width = \"450px\" height = \"30px\" version=\"1.1\" viewBox=\"0 0 800 200\"></svg>-->\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":730,"y":1220,"wires":[["ce1ab148.b004","95dff05d.900e","29b23ddb.9eefc2"]]},{"id":"bbc74258.c2947","type":"inject","z":"9794bbca.6c8a18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":1240,"wires":[["7f114cf7.fdb624"]]},{"id":"7f114cf7.fdb624","type":"ui_text_input","z":"9794bbca.6c8a18","name":"comment input","label":"Comment/Advice","tooltip":"","group":"f088a1a3.a7e","order":10,"width":"7","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":520,"y":1280,"wires":[["bf686f6b.a880f"]]},{"id":"29b23ddb.9eefc2","type":"change","z":"9794bbca.6c8a18","name":"Clear Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"null","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1360,"wires":[["7f114cf7.fdb624"]]},{"id":"2092b2ed.433e7e","type":"azureiothub","z":"9794bbca.6c8a18","name":"Azure IoT Hub","protocol":"mqtt","x":1400,"y":260,"wires":[[]]},{"id":"e4558fdb.05b35","type":"debug","z":"9794bbca.6c8a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1100,"y":240,"wires":[]},{"id":"8233f8d5.efca08","type":"mqtt-broker","z":"","name":"RaspberryPi","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"2","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7068c9a.3237b38","type":"ui_group","z":"9794bbca.6c8a18","name":"Realtime Data","tab":"afcf8bd6.a5e918","order":2,"disp":true,"width":"6","collapse":false},{"id":"f088a1a3.a7e","type":"ui_group","z":"","name":"Survey","tab":"afcf8bd6.a5e918","order":1,"disp":true,"width":"9","collapse":false},{"id":"8d848ab1.a671e8","type":"ui_group","z":"4bfc0e20.6c5f4","name":"Survey Result","tab":"afcf8bd6.a5e918","order":3,"disp":true,"width":"20","collapse":false},{"id":"e73dd00f.0fa85","type":"ui_group","z":"4bfc0e20.6c5f4","name":"History","tab":"afcf8bd6.a5e918","order":4,"disp":true,"width":"12","collapse":false},{"id":"afcf8bd6.a5e918","type":"ui_tab","z":"4bfc0e20.6c5f4","name":"Quiet Room 4","icon":"fa-envira","order":1}]