json_meetingroom.txt
[{"id":"d9c9e8b7.cdd148","type":"tab","label":"MeetingRoom Monitoring","disabled":false,"info":""},{"id":"27908b2f.9c3444","type":"mqtt in","z":"d9c9e8b7.cdd148","name":"Raspberry","topic":"test/sj","qos":"2","broker":"19cac475.f5391c","x":680,"y":420,"wires":[["ba767842.743838","a80733a3.5bce4","b36adb2d.945338"]]},{"id":"a80733a3.5bce4","type":"debug","z":"d9c9e8b7.cdd148","name":"rasp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1110,"y":280,"wires":[]},{"id":"7f101ff8.4710b","type":"debug","z":"d9c9e8b7.cdd148","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1510,"y":320,"wires":[]},{"id":"ba767842.743838","type":"function","z":"d9c9e8b7.cdd148","name":"FN_data_formatting","func":"// msg1 = '{\"deviceId\": \"Raspberry\", '\n// msg1 = msg1 + '\"key\": \"yWV1lFUpCaBCs4Iecrpy5aqEpOEv2Ji7t0MxWR2AaJw=\", '  \n// msg1 = msg1 + '\"protocol\": \"mqtt\", '\n\n// msg1 = msg1 + '\"data\": { \"' + msg.topic + '\": \"' + msg.payload + '\"}}'\n// //msg1 = msg1 + '\"data\": ' + msg.payload + '}'\n\n// newMsg = { payload: msg1 };\n// return newMsg;\n\nmsg1= {};\nmsg1.deviceId = \"Raspberry\";\nmsg1.key = \"yWV1lFUpCaBCs4Iecrpy5aqEpOEv2Ji7t0MxWR2AaJw=\";\nmsg1.protocol1 = 'mqtt';\nmsg1.data = {};\nmsg1.data.topic = msg.topic;\nmsg1.data.payload = msg.payload;\n\ndata = JSON.stringify(msg1);\n\nnewMsg = { payload: data };\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1030,"y":380,"wires":[[]]},{"id":"b36adb2d.945338","type":"function","z":"d9c9e8b7.cdd148","name":"FN_data_extract","func":"data = JSON.parse(msg.payload);\n\nvar temp = data.temperature;\nvar humi = data.humidity;\n\ntemp = { payload: temp };\nhumi = { payload: humi };\n\nreturn [temp, humi];","outputs":2,"noerr":0,"x":886,"y":494,"wires":[["837add96.36a89","f5a1a4fd.6f6318","7c9771d1.15041"],["5729db74.eafaf4","f5a1a4fd.6f6318","fc6dd67d.8b2628"]]},{"id":"75c05106.e8f11","type":"change","z":"d9c9e8b7.cdd148","name":"Set filename","rules":[{"t":"set","p":"payload","pt":"msg","to":"D:\\image\\image2\\rp_original.jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":20,"wires":[[]]},{"id":"eaf2f9d.8fbc108","type":"function","z":"d9c9e8b7.cdd148","name":"what the","func":"var fs = global.get('fsModule');\nvar photoFilePath = 'D:/image'; //Location of recorded photo files\n\nfs.readdir(photoFilePath, function(err, files) {\n    if (err) { throw err; }\n\n    var newestFile = getNewestFile(files, photoFilePath);\n    //console.log(newestFile)\n    if (newestFile && newestFile !== 'rpi_led.jpg') {\n        var originalfile = photoFilePath + '/' + newestFile;\n        var targetfile = photoFilePath + '/' + 'rpi_led.jpg';\n        console.log(\"the device image has been updated.\")\n        msg = true;\n        if (fs.existsSync(targetfile)) {\n            fs.unlinkSync(targetfile);\n        }\n        fs.rename(originalfile, targetfile, function(err) {\n            if(err) console.log(err);\n        });  \n    }\n    msg = false;\n});\n\nfunction getNewestFile(files, path) {\n    var out = [];\n    files.forEach(function(file) {\n        var stats = fs.statSync(path + \"/\" +file);\n        if(stats.isFile()) {\n            out.push({\"file\":file, \"mtime\": stats.mtime.getTime()});\n        }\n    });\n    out.sort(function(a,b) {\n        return b.mtime - a.mtime;\n    })\n    return (out.length>0) ? out[0].file : \"\";\n}\nreturn msg","outputs":1,"noerr":0,"x":880,"y":160,"wires":[[]]},{"id":"fc2f1340.4b231","type":"inject","z":"d9c9e8b7.cdd148","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":690,"y":160,"wires":[[]]},{"id":"a7af4cb0.9e0ea","type":"inject","z":"d9c9e8b7.cdd148","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":772.7272796630859,"y":1072.0000352859497,"wires":[["e858f17c.be6c5"]]},{"id":"e858f17c.be6c5","type":"function","z":"d9c9e8b7.cdd148","name":"","func":"// create random position\nvar lat = 1.290763; //51 + Math.random() * 0.2;\nvar lon = 103.787282;//-1.45 + Math.random() * 0.2;\nmsg.payload={lat:lat, lon:lon, name:\"DNV GL\", icon:\"building\", url:\"<a href=\\\"../ui/#/0\\\">IBM link</a>\"};\nreturn msg;","outputs":1,"noerr":0,"x":952.7272796630859,"y":1132.0000352859497,"wires":[["1203b0dd.5f037f"]]},{"id":"8f40ce61.3817a","type":"inject","z":"d9c9e8b7.cdd148","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":752.7272796630859,"y":1192.0000352859497,"wires":[["fca1810a.87f9d"]]},{"id":"fca1810a.87f9d","type":"template","z":"d9c9e8b7.cdd148","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"../worldmap\" width = 470px height=500px ></iframe>","x":952.7272796630859,"y":1192.0000352859497,"wires":[["c42b25d3.c8d598"]]},{"id":"40880856.393f48","type":"comment","z":"d9c9e8b7.cdd148","name":"How to embed Map in Dashboard","info":"This example shows how to embed the Worldmap \ninto a template node within the `node-red-dashboard`\n\nThe first flow creates a dashboard button that \ngenerates a randon position, with the required \nicon, and passes that to the worldmap. The\nmap is configured to automatically pan to the\nposition of any point that arrives.\n\nThe second flow initialise the dashboard template\nwith the initial map and sets it to a more square shape\nby adjusting the height.","x":822.7272796630859,"y":1012.0000352859497,"wires":[]},{"id":"72514c93.e819e4","type":"ui_button","z":"d9c9e8b7.cdd148","name":"","group":"4ff2b54f.ed1f7c","order":6,"width":0,"height":0,"passthru":false,"label":"Search Location","tooltip":"","color":"","bgcolor":"","icon":"building","payload":"","payloadType":"str","topic":"","x":727.7272796630859,"y":1131.0000352859497,"wires":[["e858f17c.be6c5"]]},{"id":"837add96.36a89","type":"ui_gauge","z":"d9c9e8b7.cdd148","name":"Temperature Gauge","group":"8b4e2621.3cc078","order":2,"width":"6","height":"7","gtype":"gage","title":"Temperature","label":"Celcius Degree","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1266.45458984375,"y":435.8182373046875,"wires":[]},{"id":"5729db74.eafaf4","type":"ui_gauge","z":"d9c9e8b7.cdd148","name":"Humidity Level","group":"8b4e2621.3cc078","order":3,"width":0,"height":0,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1267.45458984375,"y":489.8182373046875,"wires":[]},{"id":"c42b25d3.c8d598","type":"ui_template","z":"d9c9e8b7.cdd148","group":"4ff2b54f.ed1f7c","name":"","order":4,"width":"0","height":"0","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1122.7273025512695,"y":1194.0000712871552,"wires":[[]]},{"id":"4253235a.9e2e0c","type":"ui_template","z":"d9c9e8b7.cdd148","group":"4ff2b54f.ed1f7c","name":"Static_Device_Image","order":5,"width":"0","height":"0","format":"<a href=\"http://127.0.0.1:1880/worldmap/\" target=\"_blank\" style = \"color:black;\">Full screen map</a>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1083.727279663086,"y":1056.0000352859497,"wires":[[]]},{"id":"c5240281.69038","type":"azureiothub","z":"d9c9e8b7.cdd148","name":"Azure IoT Hub","protocol":"mqtt","x":1300,"y":320,"wires":[["7f101ff8.4710b"]]},{"id":"1203b0dd.5f037f","type":"worldmap","z":"d9c9e8b7.cdd148","name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"show","panit":"true","path":"","x":1132.727279663086,"y":1132.0000352859497,"wires":[]},{"id":"43dc17c5.def028","type":"ui_dropdown","z":"d9c9e8b7.cdd148","name":"","label":"The meeting room is ","tooltip":"","place":"Select option","group":"4ff2b54f.ed1f7c","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"too cold","value":"too cold","type":"str"},{"label":"too hot","value":"too hot","type":"str"},{"label":"proper","value":"proper","type":"str"},{"label":"little cold","value":"little cold","type":"str"},{"label":"little hot","value":"little hot","type":"str"}],"payload":"","topic":"","x":165.80953979492188,"y":689.382568359375,"wires":[["435c899a.2bc688"]]},{"id":"2dc197f1.2a4768","type":"ui_text","z":"d9c9e8b7.cdd148","group":"4ff2b54f.ed1f7c","order":1,"width":0,"height":0,"name":"Survey","label":"<i class=\"fa fa-meh-o fa-3x\" style=\"font-size:28px;\"></i> How's the temperature in the meeting room?","format":"{{msg.payload}}","layout":"row-spread","x":462.9001884460449,"y":611.272834777832,"wires":[]},{"id":"68d91d05.71ad54","type":"debug","z":"d9c9e8b7.cdd148","name":"sj","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1402.6995502818713,"y":643.5385340777309,"wires":[]},{"id":"efde1e67.0d2bd","type":"csv","z":"d9c9e8b7.cdd148","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":1058.210205078125,"y":672.4617309570312,"wires":[["6ad97fe4.2013f","68d91d05.71ad54"]]},{"id":"89c14fff.0881c","type":"function","z":"d9c9e8b7.cdd148","name":"build table","func":"var currentDate = new Date();\nvar varHours = currentDate.getHours() + 8;\n\nif (varHours > 24){\n    varHours = varHours - 24;\n}\n\nvar currentTime = currentDate.getFullYear() + \"-\" + String(currentDate.getMonth() + 1) + \"-\" + currentDate.getDate() + \" \" + varHours + \":\" + currentDate.getMinutes() + \":\" + currentDate.getSeconds();\n\n//var arr =[[\"quiet room 1\",19,30, \"too cold\"],[\"thor\",19,30, \"too cold\"],[\"Hermid\",19,30, \"too cold\"]];\nvar arr = [];\n\nvar surveyResult = msg.payload[0];\nvar tempData = msg.payload[1];\ntempData = tempData.split(\",\");\n\nvar temp = tempData[0];\nvar humi = tempData[1];\nhumi = humi.replace(\"\\n\", \"\");\n\narr = [[currentTime, \"quiet room 4\",temp, humi, surveyResult]];\n//arr = arr.concat([[currentTime, \"klj\",19,30, \"too cold\"]]);\nmsg.payload = arr;\nreturn msg;","outputs":1,"noerr":0,"x":882.2730102539062,"y":688.9093627929688,"wires":[["efde1e67.0d2bd"]]},{"id":"cdba3dae.68f22","type":"ui_template","z":"d9c9e8b7.cdd148","group":"7e527182.10f5b","name":"Two dimension array table","order":1,"width":"20","height":"12","format":"<table id=\"table\" border=\"1\">\n <tr>\n <th>Time</th> \n <th>Meeting Room</th> \n <th>Temperature</th>\n <th>Humidity</th>\n <th>Survey</th>\n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n <td ng-repeat=\"item in row\" >{{item}}</td>\n </tr>\n </tbody>\n</table>\n\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1549.4060173034668,"y":791.5112285614014,"wires":[[]]},{"id":"5d2293f3.c58d6c","type":"ui_button","z":"d9c9e8b7.cdd148","name":"","group":"229745dd.11bd6a","order":0,"width":0,"height":0,"passthru":true,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":531.9090785980225,"y":1277.5453691482544,"wires":[["5c7dd835.48be28"]]},{"id":"eb7eaaa4.228c48","type":"ui_button","z":"d9c9e8b7.cdd148","name":"","group":"b8d44b0.3ac95b8","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":494.45454025268555,"y":1440.5454788208008,"wires":[[]]},{"id":"6ad97fe4.2013f","type":"file","z":"d9c9e8b7.cdd148","name":"SaveFile_SurveryResult","filename":"/data/surveyResult.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1414.7484817504883,"y":706.3288431167603,"wires":[["29aeaf43.bb743"]]},{"id":"29aeaf43.bb743","type":"file in","z":"d9c9e8b7.cdd148","name":"ReadFile_SurveyResult","filename":"/data/surveyResult.csv","format":"utf8","chunk":false,"sendError":false,"x":1086.3149871826172,"y":833.280252456665,"wires":[["ec452072.1d582"]]},{"id":"dbda2deb.7b3ee","type":"function","z":"d9c9e8b7.cdd148","name":"FN_convert_data","func":"// for (var w in sortedData) {\n//     var temp = sortedData[w];\n//     var temp2 = temp.split(\",\");\n//     for (var i in temp2) {\n//         outputMsgs.push(temp2[i]);\n//     }\n//     outputMsgs[w] = outputMsgs;\n// }\n\n// msg = outputMsgs;\n// console.log(msg);\n\n//msg.payload = [[123, \"quiet room 1\",19,30, \"proper\"]];\n\nreturn msg;","outputs":1,"noerr":0,"x":1486.3597297668457,"y":864.1037302017212,"wires":[[]]},{"id":"ec452072.1d582","type":"csv","z":"d9c9e8b7.cdd148","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":1300.1517791748047,"y":807.5761041641235,"wires":[["cdba3dae.68f22"]]},{"id":"d4171680.8be028","type":"function","z":"d9c9e8b7.cdd148","name":"","func":"msg.payload =!msg.payload; \nreturn msg;\n","outputs":1,"noerr":0,"x":1140,"y":1385.4544677734375,"wires":[[]]},{"id":"435c899a.2bc688","type":"ui_template","z":"d9c9e8b7.cdd148","group":"4ff2b54f.ed1f7c","name":"save button","order":3,"width":"0","height":"0","format":"<md-button class = \"nr-dashboard-button\" ng-click=\"send({payload: msg.payload })\" type = \"button\"> \n   Click To Save\n<!--<svg width = \"450px\" height = \"30px\" version=\"1.1\" viewBox=\"0 0 800 200\"></svg>-->\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":373.5459747314453,"y":697.0016261339188,"wires":[["67938ae.4469574","ed50dc17.a19a8"]]},{"id":"5c7dd835.48be28","type":"debug","z":"d9c9e8b7.cdd148","name":"gg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710.4703729802911,"y":1305.2052237770772,"wires":[]},{"id":"3e448ebe.066852","type":"ui_dropdown","z":"d9c9e8b7.cdd148","name":"","label":"","tooltip":"","place":"Select option","group":"229745dd.11bd6a","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"sj","value":"sj","type":"str"},{"label":"ajjjj","value":"sjjj","type":"str"}],"payload":"","topic":"","x":370.0694552334872,"y":1251.4488983154295,"wires":[["5d2293f3.c58d6c"]]},{"id":"aa9f0790.b29198","type":"file","z":"d9c9e8b7.cdd148","name":"temporary save","filename":"/home/sj/tempSaveData.csv","appendNewline":false,"createDir":true,"overwriteFile":"true","x":289.16674041748047,"y":284.21104431152344,"wires":[["e3da0ea3.6ecda"]]},{"id":"e3da0ea3.6ecda","type":"file in","z":"d9c9e8b7.cdd148","name":"readTempFile","filename":"/home/sj/tempSaveData.csv","format":"utf8","chunk":false,"sendError":false,"x":497.3359375,"y":282.43073654174805,"wires":[["39497405.0c284c"]]},{"id":"39497405.0c284c","type":"debug","z":"d9c9e8b7.cdd148","name":"kjkljlk","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":678.6617202758789,"y":285.81122398376465,"wires":[]},{"id":"23595865.94c448","type":"file","z":"d9c9e8b7.cdd148","name":"Save Temp File","filename":"/data/tempsave.csv","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1132,"y":599,"wires":[[]]},{"id":"67938ae.4469574","type":"join","z":"d9c9e8b7.cdd148","name":"Combine Two Values","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":676,"y":697,"wires":[["89c14fff.0881c"]]},{"id":"ed50dc17.a19a8","type":"file in","z":"d9c9e8b7.cdd148","name":"Read Temp File","filename":"/data/tempsave.csv","format":"utf8","chunk":false,"sendError":false,"x":557,"y":771,"wires":[["67938ae.4469574"]]},{"id":"9a88cc94.8fe5c","type":"inject","z":"d9c9e8b7.cdd148","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":126,"y":808,"wires":[["43dc17c5.def028"]]},{"id":"f5a1a4fd.6f6318","type":"join","z":"d9c9e8b7.cdd148","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":", ","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":925,"y":593,"wires":[["23595865.94c448"]]},{"id":"7c9771d1.15041","type":"ui_chart","z":"d9c9e8b7.cdd148","name":"Temp History","group":"ac144e78.bbebe","order":6,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1468,"y":452,"wires":[[],[]]},{"id":"fc6dd67d.8b2628","type":"ui_chart","z":"d9c9e8b7.cdd148","name":"Humi History","group":"ac144e78.bbebe","order":7,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1464,"y":531,"wires":[[],[]]},{"id":"7be3ecc5.c40a74","type":"inject","z":"d9c9e8b7.cdd148","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":524,"y":1529,"wires":[["3fcec275.fc308e"]]},{"id":"3fcec275.fc308e","type":"function","z":"d9c9e8b7.cdd148","name":"add new layer","func":"msg.payload = {};\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';\nvar o = { maxZoom: 19, attribution: '&copy; OpenStreetMap'};\n\nmsg.payload.command.map = {name:\"OSMhot\", url:u, opt:o};\nmsg.payload.command.layer = \"OSMhot\";\n\nreturn msg;","outputs":1,"noerr":0,"x":754,"y":1529,"wires":[["64737bba.8ee824"]]},{"id":"64737bba.8ee824","type":"worldmap","z":"d9c9e8b7.cdd148","name":"","x":1084,"y":1569,"wires":[]},{"id":"3c7b4254.0fea1e","type":"function","z":"d9c9e8b7.cdd148","name":"USGS Quake monitor csv re-parse","func":"msg.payload.lat = msg.payload.latitude;\nmsg.payload.lon = msg.payload.longitude;\nmsg.payload.layer = \"earthquake\";\nmsg.payload.name = msg.payload.id;\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"orange\";\n\ndelete msg.payload.latitude;\ndelete msg.payload.longitude;\t\nreturn msg;","outputs":1,"noerr":0,"x":874,"y":1669,"wires":[["64737bba.8ee824"]]},{"id":"5991e507.b388ec","type":"function","z":"d9c9e8b7.cdd148","name":"move and zoom","func":"msg.payload = { command:{layer:\"Esri Terrain\",lat:0,lon:0,zoom:3} };\nreturn msg;","outputs":1,"noerr":0,"x":754,"y":1569,"wires":[["64737bba.8ee824"]]},{"id":"5faf2089.6093f","type":"csv","z":"d9c9e8b7.cdd148","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","x":724,"y":1609,"wires":[["3c7b4254.0fea1e"]]},{"id":"d374016c.a9312","type":"inject","z":"d9c9e8b7.cdd148","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":524,"y":1569,"wires":[["5991e507.b388ec"]]},{"id":"2d0f49a.0e639b6","type":"http request","z":"d9c9e8b7.cdd148","name":"","method":"GET","url":"http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_day.csv","tls":"","x":604,"y":1669,"wires":[["5faf2089.6093f"]]},{"id":"c2839ada.d93458","type":"inject","z":"d9c9e8b7.cdd148","name":"Quakes","topic":"","payload":"","payloadType":"none","repeat":"900","crontab":"","once":false,"x":534,"y":1609,"wires":[["2d0f49a.0e639b6"]]},{"id":"19cac475.f5391c","type":"mqtt-broker","z":"","name":"RaspberryPi","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"2","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4ff2b54f.ed1f7c","type":"ui_group","z":"","name":"Survey","tab":"400c0a36.43a7a4","order":1,"disp":true,"width":"9","collapse":false},{"id":"8b4e2621.3cc078","type":"ui_group","z":"d9c9e8b7.cdd148","name":"Data Subscribe","tab":"400c0a36.43a7a4","order":2,"disp":true,"width":"6","collapse":false},{"id":"7e527182.10f5b","type":"ui_group","z":"d9c9e8b7.cdd148","name":"Survey Result","tab":"400c0a36.43a7a4","order":3,"disp":true,"width":"20","collapse":false},{"id":"229745dd.11bd6a","type":"ui_group","z":"","name":"click","tab":"62061359.e910ac","order":2,"disp":true,"width":"6","collapse":false},{"id":"b8d44b0.3ac95b8","type":"ui_group","z":"","name":"click","tab":"6d1db370.0aaddc","order":2,"disp":true,"width":"6","collapse":false},{"id":"ac144e78.bbebe","type":"ui_group","z":"d9c9e8b7.cdd148","name":"History","tab":"400c0a36.43a7a4","order":4,"disp":true,"width":"9","collapse":false},{"id":"400c0a36.43a7a4","type":"ui_tab","z":"d9c9e8b7.cdd148","name":"Quiet Room 4","icon":"fa-envira","order":1},{"id":"62061359.e910ac","type":"ui_tab","z":"d9c9e8b7.cdd148","name":"Meeting 1","icon":"fa-heart","order":3},{"id":"6d1db370.0aaddc","type":"ui_tab","z":"","name":"Meeting 2","icon":"fa-star","order":4}]