json_07122018.txt
[{"id":"18b81d5b.97b8a3","type":"mqtt in","z":"6affe5d5.0d968c","name":"Raspberry","topic":"test/sj","qos":"2","broker":"65f61558.83eaec","x":480,"y":600,"wires":[["54423b98.5ca944","665d8460.4e2b1c","523065fb.4dd9ec","39bad437.19a40c"]]},{"id":"665d8460.4e2b1c","type":"debug","z":"6affe5d5.0d968c","name":"rasp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":460,"wires":[]},{"id":"4638a1ff.9bcab","type":"debug","z":"6affe5d5.0d968c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1310,"y":500,"wires":[]},{"id":"54423b98.5ca944","type":"function","z":"6affe5d5.0d968c","name":"FN_data_formatting","func":"// msg1 = '{\"deviceId\": \"Raspberry\", '\n// msg1 = msg1 + '\"key\": \"yWV1lFUpCaBCs4Iecrpy5aqEpOEv2Ji7t0MxWR2AaJw=\", '  \n// msg1 = msg1 + '\"protocol\": \"mqtt\", '\n\n// msg1 = msg1 + '\"data\": { \"' + msg.topic + '\": \"' + msg.payload + '\"}}'\n// //msg1 = msg1 + '\"data\": ' + msg.payload + '}'\n\n// newMsg = { payload: msg1 };\n// return newMsg;\n\nmsg1= {};\nmsg1.deviceId = \"Raspberry\";\nmsg1.key = \"yWV1lFUpCaBCs4Iecrpy5aqEpOEv2Ji7t0MxWR2AaJw=\";\nmsg1.protocol1 = 'mqtt';\nmsg1.data = {};\nmsg1.data.topic = msg.topic;\nmsg1.data.payload = msg.payload;\n\ndata = JSON.stringify(msg1);\n\nnewMsg = { payload: data };\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":830,"y":560,"wires":[[]]},{"id":"523065fb.4dd9ec","type":"function","z":"6affe5d5.0d968c","name":"FN_data_extract","func":"data = JSON.parse(msg.payload);\n\nvar temp = data.temperature;\nvar humi = data.humidity;\n\ntemp = { payload: temp };\nhumi = { payload: humi };\n\nreturn [temp, humi];","outputs":2,"noerr":0,"x":660,"y":680,"wires":[["80c85c89.b8ee5"],["198cb0bf.1148bf"]]},{"id":"353b0801.958688","type":"change","z":"6affe5d5.0d968c","name":"Set filename","rules":[{"t":"set","p":"payload","pt":"msg","to":"D:\\image\\image2\\rp_original.jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":200,"wires":[[]]},{"id":"145072b.791bd8d","type":"function","z":"6affe5d5.0d968c","name":"what the","func":"var fs = global.get('fsModule');\nvar photoFilePath = 'D:/image'; //Location of recorded photo files\n\nfs.readdir(photoFilePath, function(err, files) {\n    if (err) { throw err; }\n\n    var newestFile = getNewestFile(files, photoFilePath);\n    //console.log(newestFile)\n    if (newestFile && newestFile !== 'rpi_led.jpg') {\n        var originalfile = photoFilePath + '/' + newestFile;\n        var targetfile = photoFilePath + '/' + 'rpi_led.jpg';\n        console.log(\"the device image has been updated.\")\n        msg = true;\n        if (fs.existsSync(targetfile)) {\n            fs.unlinkSync(targetfile);\n        }\n        fs.rename(originalfile, targetfile, function(err) {\n            if(err) console.log(err);\n        });  \n    }\n    msg = false;\n});\n\nfunction getNewestFile(files, path) {\n    var out = [];\n    files.forEach(function(file) {\n        var stats = fs.statSync(path + \"/\" +file);\n        if(stats.isFile()) {\n            out.push({\"file\":file, \"mtime\": stats.mtime.getTime()});\n        }\n    });\n    out.sort(function(a,b) {\n        return b.mtime - a.mtime;\n    })\n    return (out.length>0) ? out[0].file : \"\";\n}\nreturn msg","outputs":1,"noerr":0,"x":680,"y":340,"wires":[[]]},{"id":"e9729e83.5b419","type":"inject","z":"6affe5d5.0d968c","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":490,"y":340,"wires":[[]]},{"id":"409122f.5ad4fdc","type":"function","z":"6affe5d5.0d968c","name":"random number generator","func":"rnd1 = Math.round (Math.random() * (30 - 0));\nrnd2 = Math.round (Math.random() * (100 - 0));\nrnd3 = Math.round (Math.random() * (70 - 0));\n\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\n\nmsg1.topic = \"lift1\";\nmsg1.payload = rnd1;\nmsg2.topic = \"lift2\";\nmsg2.payload = rnd2;\nmsg3.topic = \"lift3\";\nmsg3.payload = rnd3;\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"x":158,"y":1233,"wires":[[],[],[]]},{"id":"5dfa8b8c.f00c54","type":"inject","z":"6affe5d5.0d968c","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":572.7272796630859,"y":1252.0000352859497,"wires":[["c63ea272.20b2a"]]},{"id":"c63ea272.20b2a","type":"function","z":"6affe5d5.0d968c","name":"","func":"// create random position\nvar lat = 1.290763; //51 + Math.random() * 0.2;\nvar lon = 103.787282;//-1.45 + Math.random() * 0.2;\nmsg.payload={lat:lat, lon:lon, name:\"DNV GL\", icon:\"building\", url:\"<a href=\\\"../ui/#/0\\\">IBM link</a>\"};\nreturn msg;","outputs":1,"noerr":0,"x":752.7272796630859,"y":1312.0000352859497,"wires":[["dfb8e17c.1874b"]]},{"id":"d544002d.5a223","type":"inject","z":"6affe5d5.0d968c","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":552.7272796630859,"y":1372.0000352859497,"wires":[["f552e084.91abe"]]},{"id":"f552e084.91abe","type":"template","z":"6affe5d5.0d968c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"../worldmap\" width = 500px height=300px ></iframe>","x":752.7272796630859,"y":1372.0000352859497,"wires":[["f44f204.10575e"]]},{"id":"5a872d74.1fa1e4","type":"comment","z":"6affe5d5.0d968c","name":"How to embed Map in Dashboard","info":"This example shows how to embed the Worldmap \ninto a template node within the `node-red-dashboard`\n\nThe first flow creates a dashboard button that \ngenerates a randon position, with the required \nicon, and passes that to the worldmap. The\nmap is configured to automatically pan to the\nposition of any point that arrives.\n\nThe second flow initialise the dashboard template\nwith the initial map and sets it to a more square shape\nby adjusting the height.","x":622.7272796630859,"y":1192.0000352859497,"wires":[]},{"id":"ec6f3a1b.d506b8","type":"ui_button","z":"6affe5d5.0d968c","name":"","group":"ec0c6261.4fb86","order":6,"width":0,"height":0,"passthru":false,"label":"Search Location","color":"","bgcolor":"","icon":"building","payload":"","payloadType":"str","topic":"","x":527.7272796630859,"y":1311.0000352859497,"wires":[["c63ea272.20b2a"]]},{"id":"80c85c89.b8ee5","type":"ui_gauge","z":"6affe5d5.0d968c","name":"Temperature Gauge","group":"ff283011.223cb","order":1,"width":"6","height":"7","gtype":"gage","title":"Temperature","label":"Celcius Degree","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1105.4545440673828,"y":651.8182363510132,"wires":[]},{"id":"198cb0bf.1148bf","type":"ui_gauge","z":"6affe5d5.0d968c","name":"Humidity Level","group":"ff283011.223cb","order":2,"width":0,"height":0,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1045.4545440673828,"y":711.8182363510132,"wires":[]},{"id":"f44f204.10575e","type":"ui_template","z":"6affe5d5.0d968c","group":"ec0c6261.4fb86","name":"","order":4,"width":"0","height":"0","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":922.7273025512695,"y":1374.0000712871552,"wires":[[]]},{"id":"c899b3bd.57279","type":"ui_template","z":"6affe5d5.0d968c","group":"ec0c6261.4fb86","name":"Static_Device_Image","order":5,"width":"0","height":"0","format":"<a href=\"http://127.0.0.1:1880/worldmap/\" target=\"_blank\" style = \"color:black;\">Full screen map</a>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":883.7272796630859,"y":1236.0000352859497,"wires":[[]]},{"id":"ac60d56c.935aa8","type":"azureiothub","z":"6affe5d5.0d968c","name":"Azure IoT Hub","protocol":"mqtt","x":1100,"y":500,"wires":[["4638a1ff.9bcab"]]},{"id":"dfb8e17c.1874b","type":"worldmap","z":"6affe5d5.0d968c","name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","panit":"true","path":"","x":932.7272796630859,"y":1312.0000352859497,"wires":[]},{"id":"5ac7b204.89ac1c","type":"ui_dropdown","z":"6affe5d5.0d968c","name":"","label":"The meeting room is ","place":"Select option","group":"ec0c6261.4fb86","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"too cold","value":"too cold","type":"str"},{"label":"too hot","value":"too hot","type":"str"},{"label":"proper","value":"proper","type":"str"},{"label":"little cold","value":"little cold","type":"str"},{"label":"little hot","value":"little hot","type":"str"}],"payload":"","topic":"","x":266.80953216552734,"y":872.3825463056564,"wires":[["c2a47421.89e158"]]},{"id":"344d54ad.cdc96c","type":"ui_text","z":"6affe5d5.0d968c","group":"ec0c6261.4fb86","order":1,"width":0,"height":0,"name":"Survey","label":"<i class=\"fa fa-meh-o fa-3x\" style=\"font-size:28px;\"></i> How's the temperature in the meetingroom?","format":"{{msg.payload}}","layout":"row-spread","x":252.90018844604492,"y":791.272834777832,"wires":[]},{"id":"c6c7c94b.a8f318","type":"debug","z":"6affe5d5.0d968c","name":"sj","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1202.6995502818713,"y":823.5385340777309,"wires":[]},{"id":"8de683d0.75e3f","type":"csv","z":"6affe5d5.0d968c","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":936.2101821899414,"y":843.4617595672607,"wires":[["f83c14e3.bc2818","c6c7c94b.a8f318"]]},{"id":"fcba6556.7537f8","type":"function","z":"6affe5d5.0d968c","name":"build table","func":"var currentDate = new Date();\n\nvar currentTime = currentDate.getFullYear() + \"-\" + String(currentDate.getMonth() + 1) + \"-\" + currentDate.getDate() + \" \" + currentDate.getHours() + \":\" + currentDate.getMinutes() + \":\" + currentDate.getSeconds();\n\n//var arr =[[\"quiet room 1\",19,30, \"too cold\"],[\"thor\",19,30, \"too cold\"],[\"Hermid\",19,30, \"too cold\"]];\nvar arr = [];\n\nvar surveyResult = msg.payload;\narr = [[currentTime, \"quiet room 4\",msg.temp, msg.humi, surveyResult]];\n//arr = arr.concat([[currentTime, \"klj\",19,30, \"too cold\"]]);\nmsg.payload = arr;\nreturn msg;","outputs":1,"noerr":0,"x":733.2730369567871,"y":850.9093370437622,"wires":[["8de683d0.75e3f"]]},{"id":"f7d3d633.5f2a78","type":"ui_template","z":"6affe5d5.0d968c","group":"157e198b.ac6976","name":"Two dimension array table","order":1,"width":"20","height":"12","format":"<table id=\"table\" border=\"1\">\n <tr>\n <th>Time</th> \n <th>Meeting Room</th> \n <th>Temperature</th>\n <th>Humidity</th>\n <th>Survey</th>\n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n <td ng-repeat=\"item in row\" >{{item}}</td>\n </tr>\n </tbody>\n</table>\n\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1349.4060173034668,"y":971.5112285614014,"wires":[[]]},{"id":"83d86269.fbbee","type":"ui_button","z":"6affe5d5.0d968c","name":"","group":"64d0204e.f086d","order":0,"width":0,"height":0,"passthru":true,"label":"button","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":331.90907859802246,"y":1457.5453691482544,"wires":[["d3772a3d.7b62e8"]]},{"id":"cb8bec81.f6c49","type":"ui_button","z":"6affe5d5.0d968c","name":"","group":"99dd88b7.89aa68","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":294.45454025268555,"y":1620.5454788208008,"wires":[[]]},{"id":"f83c14e3.bc2818","type":"file","z":"6affe5d5.0d968c","name":"SaveFile_SurveryResult","filename":"/home/sj/surveyResult.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1214.7484817504883,"y":886.3288431167603,"wires":[["de388229.0e07"]]},{"id":"de388229.0e07","type":"file in","z":"6affe5d5.0d968c","name":"ReadFile_SurveyResult","filename":"/home/sj/surveyResult.csv","format":"utf8","chunk":false,"sendError":false,"x":886.3149871826172,"y":1013.280252456665,"wires":[["6a7fd099.7b11f"]]},{"id":"82cf9eee.98baf","type":"function","z":"6affe5d5.0d968c","name":"FN_convert_data","func":"// for (var w in sortedData) {\n//     var temp = sortedData[w];\n//     var temp2 = temp.split(\",\");\n//     for (var i in temp2) {\n//         outputMsgs.push(temp2[i]);\n//     }\n//     outputMsgs[w] = outputMsgs;\n// }\n\n// msg = outputMsgs;\n// console.log(msg);\n\n//msg.payload = [[123, \"quiet room 1\",19,30, \"proper\"]];\n\nreturn msg;","outputs":1,"noerr":0,"x":1286.3597297668457,"y":1044.1037302017212,"wires":[[]]},{"id":"6a7fd099.7b11f","type":"csv","z":"6affe5d5.0d968c","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":1100.1517791748047,"y":987.5761041641235,"wires":[["f7d3d633.5f2a78"]]},{"id":"60644972.827dd8","type":"function","z":"6affe5d5.0d968c","name":"","func":"msg.payload =!msg.payload; \nreturn msg;\n","outputs":1,"noerr":0,"x":940,"y":1565.4544677734375,"wires":[[]]},{"id":"c2a47421.89e158","type":"ui_template","z":"6affe5d5.0d968c","group":"ec0c6261.4fb86","name":"save button","order":3,"width":"6","height":"2","format":"<md-button class = \"nr-dashboard-button\" ng-click=\"send({payload: msg.payload })\" type = \"button\"> \n   Click To Save\n<!--<svg width = \"450px\" height = \"30px\" version=\"1.1\" viewBox=\"0 0 800 200\"></svg>-->\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":474.5459671020508,"y":880.0016040802002,"wires":[["fcba6556.7537f8"]]},{"id":"d3772a3d.7b62e8","type":"debug","z":"6affe5d5.0d968c","name":"gg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510.47037298029113,"y":1485.2052237770772,"wires":[]},{"id":"f8f6afd4.873c6","type":"ui_dropdown","z":"6affe5d5.0d968c","name":"","label":"","place":"Select option","group":"64d0204e.f086d","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"sj","value":"sj","type":"str"},{"label":"ajjjj","value":"sjjj","type":"str"}],"payload":"","topic":"","x":170.0694552334872,"y":1431.4488983154295,"wires":[["83d86269.fbbee"]]},{"id":"39bad437.19a40c","type":"function","z":"6affe5d5.0d968c","name":"FN_get_envdata","func":"data = JSON.parse(msg.payload);\n\nvar varTemp = data.temperature;\nvar varHumi = data.humidity;\n\nmsg = { temp: varTemp };\nmsg = { humi: varHumi };\n\nreturn msg;","outputs":1,"noerr":0,"x":566.4333419799805,"y":759.2743701934814,"wires":[["fcba6556.7537f8"]]},{"id":"38013ff6.e8b3b","type":"file","z":"6affe5d5.0d968c","name":"temporary save","filename":"/home/sj/tempSaveData.csv","appendNewline":false,"createDir":true,"overwriteFile":"true","x":89.16674041748047,"y":464.21104431152344,"wires":[["a640009.6ebb9"]]},{"id":"a640009.6ebb9","type":"file in","z":"6affe5d5.0d968c","name":"readTempFile","filename":"/home/sj/tempSaveData.csv","format":"utf8","chunk":false,"sendError":false,"x":297.3359375,"y":462.43073654174805,"wires":[["7ef7c48e.91904c"]]},{"id":"7ef7c48e.91904c","type":"debug","z":"6affe5d5.0d968c","name":"kjkljlk","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":478.6617202758789,"y":465.81122398376465,"wires":[]},{"id":"65f61558.83eaec","type":"mqtt-broker","z":"","name":"RaspberryPi","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"2","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ec0c6261.4fb86","type":"ui_group","z":"6affe5d5.0d968c","name":"Survey","tab":"421f51c2.79bc3","order":1,"disp":true,"width":"9","collapse":false},{"id":"ff283011.223cb","type":"ui_group","z":"6affe5d5.0d968c","name":"Data Subscribe","tab":"421f51c2.79bc3","order":3,"disp":true,"width":"6","collapse":false},{"id":"157e198b.ac6976","type":"ui_group","z":"6affe5d5.0d968c","name":"Survey Result","tab":"421f51c2.79bc3","order":4,"disp":true,"width":"20","collapse":false},{"id":"64d0204e.f086d","type":"ui_group","z":"","name":"click","tab":"7d9e1265.127b3c","order":2,"disp":true,"width":"6","collapse":false},{"id":"99dd88b7.89aa68","type":"ui_group","z":"","name":"click","tab":"62b47794.260838","order":2,"disp":true,"width":"6","collapse":false},{"id":"421f51c2.79bc3","type":"ui_tab","z":"6affe5d5.0d968c","name":"Quiet Room 4","icon":"dashboard","order":1},{"id":"7d9e1265.127b3c","type":"ui_tab","z":"6affe5d5.0d968c","name":"Meeting 1","icon":"feedback","order":2},{"id":"62b47794.260838","type":"ui_tab","z":"","name":"Meeting 2","icon":"dashboard","order":3}]